images.json
mainforbrad.py
test.py
/testapp
testdata
tractstest
testapp/
config.json
finished
output.mat
*~
/images
images/
*.nii.gz
t1*

__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/